body {
   margin: 10px;
   font-family: Verdana;
   
}

.logo-img {
     width: 150px;
}

.card {
   padding: 20px;
   display: flex;
   justify-content: space-around;
   width: 400px;
   margin: 0 auto 0 auto;
   text-align: center;
   background: #ddebf8;
   color: #2b2839;
   border-bottom: 4px solid #d8cefe;
}

.border-blue {
     border: 1px dotted blue;
}